<div class="ekart--product-container">
    <app-search (searchTextChange)="setSearchText($event)"></app-search>
    <product-list [searchText]="searchText" #productListComponent></product-list>
    <!--Template Ref Varaible -> #selectedProduct store the product on which user has clicked -->
    <product-detail *ngIf="productListComponent.selectedProduct"
        [productListComp]="productListComponent"></product-detail>

    <div class="ekart-featured-products">
        <div class="ekart-featured-product-heading">
            <h1>Latest Arrival in Popular Brands</h1>
        </div>
        <featured-brands>
            <h3 class="title">New Arrivals in Nike</h3>
            <button class="call-to-action">Show New Arrivals in Nike</button>
        </featured-brands>
        <featured-brands>
            <h3 class="title">New Arrivals in Addidas</h3>
            <button class="call-to-action">Show New Arrivals in Addidas</button>
        </featured-brands>
        <featured-brands>
            <h3 class="title">New Arrivals in Reebok</h3>
            <button class="call-to-action">Show New Arrivals in Reebok</button>
        </featured-brands>
    </div>

</div>